.contenedorCarrito {
    margin-top: 18px;
}

.carrito {
    height: 25px;
}

.contadorCarrito {
    color: white;
    margin-top: 20px;
}

@media screen and (min-width: 992px) {
    .contenedorCarrito {
        margin-top: 0px;
    }
}