    nav {
        /*background: linear-gradient(#641E1E, #250303)*/
        background: linear-gradient(#641E1E, #330606);
        padding: 30px;
    }

    .carrito {
        text-decoration: none;
    }

    /*Tamaño logo*/
    .logo {
        height: 8vw; 
        max-height: 60px;
        border-radius: 10px;
        }
          
    
     @media screen and (min-width: 1024px) {
        .animacion-menu:hover {
            transform: scale(1.2);
            transition: transform .3s; } 
        
        .logo {
            height: 70px; 
            border-radius: 20px;
            }
    } 

