.carritoFinal {
    display: grid;
    margin: 0px 20px 10px 20px;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    text-align: center;
    font-weight: 600;
}

.imgCarrito {
    width: 40px;
    height: 60px;
    border-radius: 10%;
}

.iconoBasura {
    border: 0px;
    background-color: transparent;
}

.parrafoCarrito {
    margin: 0px;
    font-size: 2.5vw;
}

@media screen and (min-width: 600px) {
    .carritoFinal {
    margin: 0px 50px 0px 50px;; 
    }

    .imgCarrito {
        width: 80px;
        height: 110px;
        border-radius: 10%;
    }

    .parrafoCarrito {
        font-size: 16px;
    }
}

@media screen and (min-width: 1024px) {
    .carritoFinal {
    margin: 0px 100px 20px 100px; 
    }

    .imgCarrito {
        width: 100px;
        height: 130px;
        border-radius: 10%;
    }

    .parrafoCarrito {
        font-size: 20px;
    }
}