/*estilo para las card de los productos*/
.contenedorProducto {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 40px;
    gap: 50px;
    text-align: center;
    justify-items: center;
  }
  @media screen and (min-width: 600px) {
    .contenedorProducto {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }}
  @media screen and (min-width: 1024px) {
  .contenedorProducto {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }}

  @media screen and (min-width: 1400px) {
    .contenedorProducto {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
    }}
